html {
    font-size: 10px;
}

body {
    background-color: #FAF9F8;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.35px;
    color: #646464;
}

h2 {
    font-family: 'BIZ UDPMincho', serif;
    font-size: 3rem;
    letter-spacing: 5.4px;
    margin-bottom: 60px;
}

#header {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A4A4A;
    text-align: center;
    padding: 35px;
}

#header.UpMove {
    animation: UpAnime 0.5s forwards;
}

#g-navi {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

#g-navi li {
    margin-left: 55px;
    font-size: 1.4rem;
    font-weight: 400;
}

.shop_btn {
    border: solid 1px #4A4A4A;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.419);
}

@keyframes UpAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#header.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ファーストビュー */
#fv {
    position: relative;
    overflow: hidden;
}

#home_intro img {
    width: 100%;
    height: auto;
    display: block;
}

/* 花びらアニメーション */
.flower {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower li {
    position: absolute;
    top: -50px;
    animation: fall 5s linear infinite, rotate1 2s ease-in-out infinite alternate;
}

.flower li:nth-child(1) {
    left: 0;
    animation: fall 13s linear infinite, rotate1 3s ease-in-out infinite alternate;
}

.flower li:nth-child(2) {
    right: 15vw;
    animation: fall 15s linear infinite, rotate1 4s ease-in-out infinite alternate;
}

.flower li:nth-child(3) {
    left: 5vw;
    animation: fall 18s linear infinite, rotate1 2s ease-in-out infinite alternate;
}

.flower li:nth-child(4) {
    right: 22vw;
    animation: fall 18s linear infinite, rotate2 3s ease-in-out infinite alternate;
}

.flower li:nth-child(5) {
    left: 10vw;
    animation: fall 15s linear infinite, rotate1 3.5s ease-in-out infinite alternate;
}

.flower li:nth-child(6) {
    right: 25vw;
    animation: fall 20s linear infinite, rotate2 3.5s ease-in-out infinite alternate;
}

.flower li:nth-child(7) {
    left: 13vw;
    animation: fall 10s linear infinite, rotate2 4s ease-in-out infinite alternate;
}

.flower li:nth-child(8) {
    right: 20vw;
    animation: fall 10s linear infinite, rotate1 3s ease-in-out infinite alternate;
}

@keyframes fall {
    to {
        top: 120%;
    }
}

@keyframes rotate1 {
    from {
        transform: translateX(0px) rotate(0deg);
    }

    to {
        transform: translateX(200px) rotate(-80deg) rotateX(180deg);
    }
}

@keyframes rotate2 {
    from {
        transform: translateX(200px) rotate(-45deg);
    }

    to {
        transform: translateX(0px) rotate(0deg);
    }
}


/* コンセプト */
#concept {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
    margin-top: 183px;
}


.concept_item {
    position: relative;
    background-size: cover;
    width: 824px;
    height: 355px;
    z-index: -2;
}


.concept_cont {
    position: relative;
    margin-top: 226px;
    /* padding: 90px 47px; */
    width: 120%;
}

.concept_cont p {
    font-size: 1.4rem;
}

.concept_cont::after {
    content: "";
    position: absolute;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.70);
    top: -23.44%;
    left: -10.94%;
    width: 115.08%;
    height: 146.88%;
    z-index: -1;
}

.concept_item img {
    position: absolute;
    right: 0;
}

.concept_item img:last-child {
    right: -50px;
    margin-top: 56px;
}

/* 泡 */
.concept_awa li{
    position: absolute;
}

.concept_awa li:nth-child(1) {
    right: 100px;
    bottom: -35px;
}

.concept_awa li:nth-child(2) {
    right: 15px;
    bottom: 60px;
}

.concept_awa li:nth-child(3) {
    right: 55px;
    bottom: 55px;
}

.concept_awa li:nth-child(4) {
    right: 270px;
    bottom: 10px;
}

.concept_awa li:nth-child(5) {
    right: 240px;
    bottom: 70px;
}

.concept_awa li:nth-child(6) {
    right: 260px;
    bottom: 150px;
}

/* 場面切り替えのイメージ */
#background_img {
    width: 100%;
    margin-top: 262px;
}

.background_img1 {
    margin: 0 0 0 auto;
    display: block;
    margin-bottom: 26px;
}