html {
    font-size: 10px;
}

body {
    background-color: #FAF9F8;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.35px;
    color: #646464;
}

h2 {
    font-family: 'BIZ UDPMincho', serif;
    font-size: 3rem;
    letter-spacing: 5.4px;
    margin-bottom: 60px;
}

#header {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A4A4A;
    text-align: center;
    padding: 35px;
    background-color: #ffff;
}

#header.UpMove {
    animation: UpAnime 0.5s forwards;
}

#g-navi {
    display: flex;
    margin-right: 20px;
    align-items: center;

}

#g-navi li {
    margin-left: 55px;
    font-size: 1.4rem;
    font-weight: 400;
}

.wrapper_content {
    max-width: 1440px;
    margin: 0 auto;
}

.shop_btn {
    border: solid 1px #4A4A4A;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.419);
}

@keyframes UpAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#header.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ファーストビュー */
#fv {
    background-image: url(../img/fv_bg.webp);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#home_intro img {
    width: 100%;
    height: auto;
    display: block;
}

/* 花びらアニメーション */
.flower {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower li {
    position: absolute;
    top: -50px;
    animation: fall 5s linear infinite, rotate1 2s ease-in-out infinite alternate;
}

.flower li:nth-child(1) {
    left: 0;
    animation: fall 13s linear infinite, rotate1 3s ease-in-out infinite alternate;
}

.flower li:nth-child(2) {
    right: 15vw;
    animation: fall 15s linear infinite, rotate1 4s ease-in-out infinite alternate;
}

.flower li:nth-child(3) {
    left: 5vw;
    animation: fall 18s linear infinite, rotate1 2s ease-in-out infinite alternate;
}

.flower li:nth-child(4) {
    right: 22vw;
    animation: fall 18s linear infinite, rotate2 3s ease-in-out infinite alternate;
}

.flower li:nth-child(5) {
    left: 10vw;
    animation: fall 15s linear infinite, rotate1 3.5s ease-in-out infinite alternate;
}

.flower li:nth-child(6) {
    right: 25vw;
    animation: fall 20s linear infinite, rotate2 3.5s ease-in-out infinite alternate;
}

.flower li:nth-child(7) {
    left: 13vw;
    animation: fall 10s linear infinite, rotate2 4s ease-in-out infinite alternate;
}

.flower li:nth-child(8) {
    right: 20vw;
    animation: fall 10s linear infinite, rotate1 3s ease-in-out infinite alternate;
}

@keyframes fall {
    to {
        top: 120%;
    }
}

@keyframes rotate1 {
    from {
        transform: translateX(0px) rotate(0deg);
    }

    to {
        transform: translateX(200px) rotate(-80deg) rotateX(180deg);
    }
}

@keyframes rotate2 {
    from {
        transform: translateX(200px) rotate(-45deg);
    }

    to {
        transform: translateX(0px) rotate(0deg);
    }
}

.bubble {
    position: absolutew;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble li {
    position: absolute;
    bottom: 0%;
    animation: awa 10s linear infinite;
}

.bubble li:nth-child(1) {
    left: 15vw;
    animation: awa 10s linear infinite, awaawa 5s ease-in-out infinite;
}

.bubble li:nth-child(2) {
    left: 10vw;
    animation: awa 20s linear infinite, awaawa 6s ease-in-out infinite;
}

.bubble li:nth-child(3) {
    left: 15vw;
    animation: awa 15s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(4) {
    left: 13vw;
    animation: awa 17s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(5) {
    right: 13vw;
    animation: awa 15s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(6) {
    right: 20vw;
    animation: awa 10s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(7) {
    right: 13vw;
    animation: awa 15s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(8) {
    right: 20vw;
    animation: awa 20s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(9) {
    left: 10vw;
    animation: awa 14s linear infinite, awaawa 5s ease-in-out infinite;
}

.bubble li:nth-child(10) {
    left: 6vw;
    animation: awa 15s linear infinite, awaawa 6s ease-in-out infinite;
}

.bubble li:nth-child(11) {
    left: 10vw;
    animation: awa 7s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(12) {
    left: 20vw;
    animation: awa 10s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(13) {
    right: 15vw;
    animation: awa 15s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(14) {
    right: 15vw;
    animation: awa 13s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(15) {
    right: 13vw;
    animation: awa 8s linear infinite, awaawa 8s ease-in-out infinite;
}

.bubble li:nth-child(16) {
    right: 8vw;
    animation: awa 10s linear infinite, awaawa 8s ease-in-out infinite;
}

@keyframes awa {

    0% {
        bottom: -10%;
    }

    50% {
        bottom: 100%;
    }

    100% {
        top: -10%;
    }

}

@keyframes awaawa {
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}




/* コンセプト */
#concept {
    position: relative;
    margin: 183px 0 262px 0;
}

.concept_inner {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
}

.concept_leaf1, .concept_leaf2, .concept_leaf3, .back_hana, .back_hana2, .point02_hana, .point02_leaf, .point02_leaf2, .video_leaf, .video_leaf2, .voice_leaf, .voice_leaf2 {
    position: absolute;
}

.concept_leaf1 {
    top: -75px;
    left: 11.53%;
}

.concept_leaf2 {
    bottom: 92px;
    right: 10.9%;
}

.concept_leaf3 {
    bottom: -174px;
    left: 7.36%;
}

.concept_item {
    position: relative;
    background-size: cover;
    width: 824px;
    height: 355px;
    z-index: -2;
}


.concept_cont {
    position: relative;
    margin-top: 226px;
    width: 120%;
}

.concept_cont p {
    font-size: 1.4rem;
}

.concept_cont::after {
    content: "";
    position: absolute;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.70);
    top: -23.44%;
    left: -10.94%;
    width: 115.08%;
    height: 146.88%;
    z-index: -1;
}

.concept_item img {
    position: absolute;
    right: 0;
}

.concept_item img:last-child {
    right: -50px;
    margin-top: 56px;
}

/* 泡 */
.concept_awa li {
    position: absolute;
}

.concept_awa li:nth-child(1) {
    right: 100px;
    bottom: -35px;
}

.concept_awa li:nth-child(2) {
    right: 15px;
    bottom: 60px;
}

.concept_awa li:nth-child(3) {
    right: 55px;
    bottom: 55px;
}

.concept_awa li:nth-child(4) {
    right: 270px;
    bottom: 10px;
}

.concept_awa li:nth-child(5) {
    right: 240px;
    bottom: 70px;
}

.concept_awa li:nth-child(6) {
    right: 260px;
    bottom: 150px;
}

/* 場面切り替えのイメージ */
#background_img {
    position: relative;
    width: 100%;
}

.back_hana {
    bottom: 0;
    right: 5.28%;
}

.back_hana2 {
    bottom: -127px;
    left: 27.29%;
}

.background_img1 {
    margin: 0 0 0 auto;
    display: block;
    margin-bottom: 26px;
}

#product {
    margin-bottom: 296px;
}

.point01 {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
    margin-top: 222px;
    gap: 10%;
}

.point02 {
    position: relative;
}

.point02_hana {
    top: -187px;
    right: 11.28%;
    z-index: -1;
}

.point02_leaf {
    top: 0;
    left: 84px;
}

.point02_leaf2 {
    bottom: 0;
    right: 123px;
}

.point02_inner {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
    gap: 120px;
    margin-top: 228px;
}

.point02_img {
    position: relative;
}

.point02_img::after {
    content: "";
    position: absolute;
    background: url(../img/point/point02_2.png);
    background-size: contain;
    top: 263px;
    left: 268px;
    width: 236px;
    height: 246px;
    z-index: -1;
}

#page-top {
    position: fixed;
    right: 5px;
    bottom: 20px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 146%;
    line-height: 1.5rem;
    color: #737373;
    padding: 0 0 0 35px;
    border-top: solid 1px;
}

#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}

.oil_group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 51px;
}

.target {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 4px;

    &.is-hidden {
        display: none;
        opacity: 0;
    }

    &.is-show {
        animation: fadeIn 1s ease;
        /* フェードイン用のスタイル */
    }
}

.btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;

    &:hover {
        opacity: .9
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slider_wrap {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    padding: 70px 0;
}

.slider {
    position: relative;
    z-index: 1;
    /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 14px rgba(0, 0, 0, 0.08);
}

/*　背景画像設定　*/

.slider-item01 {
    background: url(../img/relax/relax01.jpg);
}

.slider-item02 {
    background: url(../img/relax/relax02.jpg);
}

.slider-item03 {
    background: url(../img/relax/relax03.jpg);
}

.slider-item {
    width: 100%;
    /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height: 500px;
    /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;
    /*背景画像をリピートしない*/
    background-position: center;
    /*背景画像の位置を中央に*/
    background-size: cover;
    /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    z-index: 3;
    top: 50%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;
    /*矢印の色*/
    border-right: 2px solid #ccc;
    /*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: -50px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}



/* 使い方 */
.use_tit, .use_txt {
    text-align: center;
}

#use {
    margin-top: 300px;
}

.use_tit::after {
    content: "";
    display: block;
    background: url(../img/use_item.png);
    background-size: 119px 154px;
    width: 119px;
    height: 154px;
    margin-top: -95px;
    margin-left: 277px;
}

.use_txt {
    margin-bottom: 60px;
}

#video::after {
    content: "";
    background: url(../img/use/leaf.png)no-repeat;
}

/* .video_leaf{
    bottom: 0;
    left: 7.15%;
}

.video_leaf2 {
    bottom: 0;
    right: 6.81%;
} */

.video_inner {
    width: 100%;
    text-align: center;
}

.video iframe {
    width: 616px;
    height: 346.5px;
}

/* オリジナルコンテンツ */
#original {
    margin-top: 253px;
    width: 100%;
    height: 768px;
    background: url(../img/bg.jpg) no-repeat;
    background-position: 0 60px;
    position: relative;
}

#original::after {
    content: "";
    display: block;
    width: 1028px;
    height: 344px;
    background-color: #fff;
    border-radius: 7px;
    position: absolute;
    top: 353px;
    right: 0;
    z-index: 0;
}


.original_tit, .original_cont {
    width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.original_tit {
    margin-bottom: 126px;
}

.original_txt {
    margin-left: 7%;
}

.original_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.original_img {
    display: flex;
    flex-flow: column;
    width: 344px;
}

.original_img img:nth-child(2) {
    margin-top: 10px;
    margin-left: 50px;
}

.more_btn {
    width: 35%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    padding: 15px 70px;
    transition: 0.4s;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more_btn span {
    color: #4A4A4A;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.more_btn:hover {
    box-shadow: 0px 5px 15px 0px #b1b6c2;
    transition: 0.4s;
}

.more_btn_shop:hover {
    box-shadow: 0px 5px 15px 0px #b1b6c2;
    transition: 0.4s;
}


.more_btn_shop {
    background-color: #fff;
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.14);
    border-radius: 7px;
    padding: 35px 120px;
    font-size: 2rem;
    letter-spacing: 0.57px;
    transition: 0.4s;
}

.product_img {
    position: absolute;
    display: flex;
    flex-flow: column;
    margin-top: -100px;
    margin-left: 100px;
}

.kaiketu {
    width: 60%;
    background: url(../img/original/bg_kaiketu.svg) no-repeat;
    background-size: contain;
    padding: 125px 66px;
    margin-left: auto;
    margin-right: 0;
}

.kaiketu_wrap {
    width: 100%;
    text-align: center;
}

.kaiketu_ttl {
    display: inline-block;
    border-radius: 20px;
    background: #B2DDF9;
    padding: 8px 25px;
    margin-bottom: 15px;
}

.kaiketu_ttl span {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
}

.kaiketu_txt {
    color: #666464;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4.35rem;
    letter-spacing: -0.06rem;
}

.original_onayami {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.user_group {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.user {
    width: 28%;
    background-color: #ffff;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 60px;
    box-shadow: 2px 12px 34px 1px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
}

.user_name {
    font-size: 1.4rem;
    font-weight: 400;
    color: #7B7B7B;
}

.user dt {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 33px;
    line-height: 219.6%;
    color: #4A4A4A;
}

.user dd {
    font-size: 1.2rem;
    line-height: 219.6%;
    font-weight: 400;
    letter-spacing: -1.02px;
    color: #666464;
}

.user_inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;

}

.user_inner img {
    width: 182px;
    height: 182px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 36px;
}

#voice {
    margin-top: 358px;
    position: relative;
}

.voice_leaf {
    top: -110px;
    left: 8.47%;
}

.voice_leaf2 {
    top: -51px;
    right: 13.96%;
}

h2.voice_tit {
    position: relative;
}

h2.voice_tit::after {
    content: "";
    position: absolute;
    background: url(../img/user/bg_voice_ttl.png)no-repeat;
    background-size: cover;
    width: 84.72%;
    height: 5px;
    margin-top: 13px;
}

h2.voice_tit span {
    width: 69.44%;
    margin: 0 auto;
    display: block;
    color: #9C9C9C;
    letter-spacing: 3px;
}

.user_wrap {
    position: relative;
}

.user_wrap::after {
    position: absolute;
    content: "";
    background: url(../img/bg.jpg);
    background-size: contain;
    top: -40px;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.sns {
    font-family: 'BIZ UDPMincho', serif;
    margin-right: 23px;
    letter-spacing: 2.52px;
    color: #666464;
}

.sns_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 245px;
    margin-bottom: 230px;
}

ul.sns_icon {
    display: flex;
}

.sns_border {
    width: 273px;
    height: 1px;
    background-color: #666464;
}

.sns_icon li {
    margin-left: 30px;
}

.online_shop {
    padding-top: 200px;
    padding-bottom: 157px;
    background: url(../img/bg_shop.webp)no-repeat;
    background-size: cover;
}

footer {
    padding-top: 44px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 63px;
}

#footerlogo {
    margin-left: 50px;
}

@media (max-width:768px) {
    .background_img1, .background_img2, .point02_hana {
        display: none;
    }

    .concept_inner, .point01 {
        flex-flow: column-reverse;
    }

    .concept_item {
        position: static;
    }

    .point02_inner, .original_cont, .original_onayami {
        flex-flow: column;
    }


    .concept_cont {
        padding: 90px 47px;

    }

    .more_btn_shop {
        padding: 35px 0;
    }

    .user {
        width: 100%;
        margin: 43px;
    }

    .kaiketu {
        width: 100%;
    }

    .original_onayami {
        width: 100%;
        margin-top: 116px;
    }

    .product_img {
        margin-top: 421px;
    }

    #voice {
        margin-top: 865px;
    }

    .user_group {
        overflow-x: scroll;
    }
}