html {
    font-size: 10px;
}

body {
    background-color: #FAF9F8;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1.35px;
    color: #646464;
}

h2 {
    font-family: 'BIZ UDPMincho', serif;
    font-size: 3rem;
    letter-spacing: 5.4px;
    margin-bottom: 60px;
}

#header {
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A4A4A;
    text-align: center;
    padding: 35px;
}

#header.UpMove {
    animation: UpAnime 0.5s forwards;
}

#g-navi {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

#g-navi li {
    margin-left: 55px;
    font-size: 1.4rem;
    font-weight: 400;
}

.shop_btn {
    border: solid 1px #4A4A4A;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.419);
}

@keyframes UpAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#header.DownMove {
    animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ファーストビュー */
#home_intro img {
    width: 100%;
    height: auto;
    display: block;
}

/* 花びらアニメーション */




/* コンセプト */
#concept {
    width: 69.44%;
    margin: 0 auto;
    display: flex;
    margin-top: 183px;
}


.concept_item {
    position: relative;
    background-size: cover;
    width: 824px;
    height: 355px;
    z-index: -2;
}


.concept_cont {
    position: relative;
    margin-top: 226px;
    /* padding: 90px 47px; */
    width: 120%;
}

.concept_cont p {
    font-size: 1.4rem;
}

.concept_cont::after {
    content: "";
    position: absolute;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.70);
    top: -23.44%;
    left: -10.94%;
    width: 115.08%;
    height: 146.88%;
    z-index: -1;
}

.concept_item img {
    position: absolute;
    right: 0;
}

.concept_item img:last-child {
    right: -60px;
    margin-top: 56px;
}